<div class="container-fluid">
  <div class="row">
      <nav class="navbar-inverse">
          <div class="navbar-brand">
              Hospital System
          </div>
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-target="#menu1" data-toggle="collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div id="menu1" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <a routerLink="/">New Patient</a>
                  </li>
                  <li>
                      <a routerLink="/department">Department</a>
                  </li>
                  
              </ul>
          </div>

      </nav>
  </div>

  <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>